a {
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.external {
	&:before {
		$size: 1.1rem;
		display: inline-block;
		margin: -4px .4rem 0 0;

		background: svg-load('../gfx/svg/arrow-up.svg', fill=$color-orange) center no-repeat;
		background-size: 100% 100%;
		content: '';
		height: $size;
		vertical-align: middle;
		width: $size;
	}
}

.button {
	display: inline-block;
	padding: .3rem 1.5rem;

	background: $color-orange;
	border-radius: 35px;
	color: #fff;

	&:hover {
		background: darken($color-orange, 5%);
		color: #fff;
		text-decoration: none;
	}
}

.phone,
.email {
	&:before {
		$size: 1.5rem;
		display: inline-block;
		margin: -5px .5em 0 0;

		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		content: '';
		height: $size;
		vertical-align: middle;
		width: $size;
	}
}

.phone:before {
	background-image: svg-load('../gfx/svg/phone.svg', fill=#fff);
}

.pdf:before {
	$size: 1rem;
	display: inline-block;
	margin: -5px 4px 0 0;

	background: svg-load('../gfx/svg/pdf.svg') center no-repeat;
	background-size: 85% 85%;
	content: '';
	height: $size;
	vertical-align: middle;
	width: $size;
}

/* Actions */
.actions {
	&.wide {
		$spacing: .5rem;
		display: flex;
		align-items: stretch;
		margin-top: 3rem;

		@media (max-width: $screen-md-max) {
			flex-wrap: wrap;
		}

		a {
			position: relative;
			margin: 0 $spacing;
			padding: 1rem;

			color: #fff;
			flex-basis: 33%;
			height: 200px;
			max-height: 200px;
			justify-content: center;
			overflow: hidden;
			transition: transform .2s ease-in-out;
			text-align: center;
			backface-visibility: hidden;
			will-change: transform;

			@media (max-width: $screen-md-max) {
				flex-basis: 100%;

				&:not(:last-child) {
					margin-bottom: $spacing;
				}
			}


			&:first-child { background: $color-green; }
			&:nth-child(2n) { background: $color-orange; }
			&:nth-child(3n) { background: $color-green-blue; }

			p {
				$arrow-size: 32px;
				display: block;
				left: 0;
				margin: auto;
				margin-top: -$arrow-size / 1.5;
				position: absolute;
				right: 0;
				top: 50%;

				max-width: 90%;
				transform: translateY(-50%);
				transition: opacity .2s ease-in-out;
				width: 100%;

				&:after {
					position: absolute;
					margin: 2.25rem auto auto;
					left: 0;
					right: 0;

					content: '';
					height: $arrow-size;
					transform-origin: center;
					width: $arrow-size;
				}

				&:after {
					background: svg-load('../gfx/svg/arrow-up.svg', fill=#fff);
					background-size: 100% 100%;
					transition: transform .35s ease;
				}
			}

			&:hover {
				text-decoration: none;
				transform: scale(.99);

				p { opacity: .8; }
			}
		}
	}

}
