.unstyled-list {
	margin: 0;
	list-style: none;
}

.list {
	@extend .unstyled-list;
	padding: 0;
	border-bottom: 1px solid $color-border;
	transition: max-height .25s ease;

	li {
		padding: .5rem 0;
		position: relative;
	}

	.form &-documents {
		border-bottom: 1px solid $color-border;
	}

	&-documents {
		padding: .5rem 0;
		border-bottom: 0;

		max-height: 450px;
		overflow-y: auto;

		li:first-child {
			border-bottom: 1px solid $color-border;
			padding: 0 0 1rem;
			margin-bottom: .5rem;
		}

		&:last-child {
			padding-bottom: 0;
		}

		&:not(.error) {
			min-height: 100px;
		}

		&.unaccepted-first {
			max-height: 100px;
			min-height: auto;

			li:not(:first-child),
			.check-all { display: none; }

			li:first-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	&.error {
		text-align: center;
		padding: 0 4rem 1rem;

		.check-all { display: none; }

		p { color: $color-gray-light; }
	}

	&#accepted-documents.error { padding-top: .5rem; }

	&.loading {
		min-height: 100px;
	}
}

.check-all {
	display: inline-block;
	margin: .5rem 0 0;
}