.modal-dialog {
    overflow: scroll;
    position: fixed;
    top: 15vh;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    font-size: 0.9rem;
}

.modal-footer {
    & > .btn {
        font-weight: 600;
    }
}
