#notification {
	display: none;
	padding: 1rem 0;

	background: #fff;
	font-size: .8rem;
	line-height: 1.2rem;

	.actions {
		margin-top: 1rem;

		> :first-child {
			margin-bottom: .75rem;
		}
	}

	.privacy-policy-visible & {
		display: block;
	}
}