@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Pages
@using eContracting.Website.Areas.eContracting.Models
@model LoginViewModel
<div class="row">
    @Html.AntiForgeryToken()
    <div class="col-md-8 col-md-offset-2">
        <div class="info">
            @Html.Raw(ViewData["MainText"])
        </div>
        <div id="app"></div>
    </div>
</div>

<script>
    var appConfig = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
</script>