@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Pages

@inherits GlassView<EContractingSessionExpiredTemplate>


<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="info">
			<h1>@Editable(model=>model.Header)</h1>
			@Editable(model=>model.MainText)
		</div>
	</div>
</div>
