<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- DEV <setting name="eContracting.ServiceUrl" value="http://lv423075.aci3.rwegroup.cz:8001/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />-->
            <!-- TEST <setting name="eContracting.ServiceUrl" value="http://wd-wcc.rwe-services.cz:8112/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />-->
            <!-- TEST <setting name="eContracting.ServiceUrl" value="https://wd-wcc.rwe-services.cz:8110/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />-->
            <setting name="eContracting.ServiceUrl" value="https://wd-wcc.rwe-services.cz:8110/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
            <setting name="eContracting.ServiceUser" value="UkZDX1NJVEVDT1JF" />
            <setting name="eContracting.ServicePassword" value="QWRIYjI0Nyo=" />
            <setting name="eContracting.SigningServiceUrl" value="http://lv423075.aci3.rwegroup.cz:8001/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
            <setting name="eContracting.SigningServiceUser" value="UkZDX1NJVEVDT1JF" />
            <setting name="eContracting.SigningServicePassword" value="QWRIYjI0Nyo=" />
            <!-- Set after how many failed attempts user is blocked -->
            <setting name="eContracting.MaxFailedAttempts" value="3" />
            <!-- Set how long user has to wait to try log-in again. Use format for TimeSpan ([d.]hh:mm:ss) -->
            <setting name="eContracting.DelayAfterFailedAttempts" value="00:15:00" />
            <!-- Set name of XmlNodes where to take InnerText instead of InnerXml -->
            <setting name="eContracting.AD1.RemoveHtmlFromNodes" value="" />
        </settings>
    </sitecore>
</configuration>
