<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.ServiceUrl" value="https://wpi.rwe-services.cz:41007/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.SigningServiceUrl" value="https://wpi.rwe-services.cz:41007/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.Cognito.ClientId" value="3huqdeb3p0plv29tmng1eb2dkv" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.Innogy.LoginUrl" value="https://prihlaseni.innogy.cz/signin.html" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.Innogy.LogoutUrl" value="https://prihlaseni.innogy.cz/signout.html" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.Innogy.RegistrationUrl" value="https://prihlaseni.innogy.cz/signup.html" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.Innogy.DashboardUrl" value="https://innosvet.innogy.cz/dashboard" />
        </settings>
    </sitecore>
</configuration>