<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="eContracting.ServiceUrl" value="https://wti.rwe-services.cz:51012/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
            <setting name="eContracting.ServiceUser" value="UkZDX1NJVEVDT1JF" />
            <setting name="eContracting.ServicePassword" value="QWRIYjI0Nyo=" />
            <setting name="eContracting.SigningServiceUrl" value="https://wti.rwe-services.cz:51012/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
            <setting name="eContracting.SigningServiceUser" value="UkZDX1NJVEVDT1JF" />
            <setting name="eContracting.SigningServicePassword" value="QWRIYjI0Nyo=" />
            <!-- Set after how many failed attempts user is blocked -->
            <setting name="eContracting.MaxFailedAttempts" value="3" />
            <!-- Set how long user has to wait to try log-in again. Use format for TimeSpan ([d.]hh:mm:ss) -->
            <setting name="eContracting.DelayAfterFailedAttempts" value="00:15:00" />
            <!-- Set name of XmlNodes where to take InnerText instead of InnerXml -->
            <setting name="eContracting.AD1.RemoveHtmlFromNodes" value="" />
            <!-- Set timeout for session in minutes (applied on offer page) -->
            <setting name="eContracting.SessionTimeout" value="30" />
            <!-- Base URL for Cognito Amazon service -->
            <setting name="eContracting.Cognito.OAuth.BaseUrl" value="https://cognito-idp.eu-west-1.amazonaws.com" />
            <setting name="eContracting.Cognito.OAuth.TokensUrl" value="https://ciam-tst-prihlaseni.auth.eu-west-1.amazoncognito.com" />
            <setting name="eContracting.Cognito.ClientId" value="1jgbghjpnh8cq4qa4838ehsq9l" />
            <setting name="eContracting.Cognito.CookiePrefix" value="CognitoIdentityServiceProvider" />
            <setting name="eContracting.Cognito.CookieUser" value="LastAuthUser" />
            <!-- Complete URL for login on innogy.cz -->
            <setting name="eContracting.Innogy.LoginUrl" value="https://test-prihlaseni.innogy.cz/signin.html" />
            <!-- Complete URL for logout on innogy.cz -->
            <setting name="eContracting.Innogy.LogoutUrl" value="https://test-prihlaseni.innogy.cz/signout.html" />
            <!-- Complete URL for registration on innogy.cz -->
            <setting name="eContracting.Innogy.RegistrationUrl" value="https://test-prihlaseni.innogy.cz/signup.html" />
            <setting name="eContracting.Innogy.DashboardUrl" value="https://test-innosvet.innogy.cz/dashboard" />
            <!-- Delay in seconds after submit process to SAP is done, so user wait for extra time. -->
            <setting name="eContracting.SubmitOfferDelay" value="5" />
            <!-- Delay in seconds after cancel process to SAP is done, so user wait for extra time. -->
            <setting name="eContracting.CancelOfferDelay" value="5" />
        </settings>
    </sitecore>
</configuration>
