<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.ServiceUrl" value="https://wd-wcc.rwe-services.cz:8111/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
      <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="eContracting.SigningServiceUrl" value="https://wd-wcc.rwe-services.cz:8111/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
    </settings>
  </sitecore>
</configuration>