<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="eContracting.Kernel.Services.IRweClient, eContracting.Kernel" implementationType="eContracting.Kernel.Services.RweClient, eContracting.Kernel" />
            <register serviceType="eContracting.Kernel.Services.ISettingsReaderService, eContracting.Kernel" implementationType="eContracting.Kernel.Services.SitecoreSettingsReaderService, eContracting.Kernel" />
            <register serviceType="eContracting.Kernel.Services.ILoginReportStore, eContracting.Kernel" implementationType="eContracting.Kernel.Services.MongoLoginReportStore, eContracting.Kernel" />
            <register serviceType="eContracting.Kernel.Utils.IAuthenticationDataSessionStorage, eContracting.Kernel" implementationType="eContracting.Kernel.Utils.AuthenticationDataSessionStorage, eContracting.Kernel" />
        </services>
    </sitecore>
</configuration>