<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="eContracting.ILogger, eContracting.Core" implementationType="eContracting.SitecoreLogger, eContracting.Core" />
            <register serviceType="eContracting.Services.IApiService, eContracting.Services" implementationType="eContracting.Services.CacheApiService, eContracting.Services" />
            <register serviceType="eContracting.Services.IOfferParserService, eContracting.Services" implementationType="eContracting.Services.OfferParserService, eContracting.Services" />
            <register serviceType="eContracting.Services.IOfferAttachmentParserService, eContracting.Services" implementationType="eContracting.Services.OfferAttachmentParserService, eContracting.Services" />
            <register serviceType="eContracting.Services.IAuthenticationService, eContracting.Services" implementationType="eContracting.Services.AuthenticationService, eContracting.Services" />
            <register serviceType="eContracting.Services.ISettingsReaderService, eContracting.Services" implementationType="eContracting.Services.SitecoreSettingsReaderService, eContracting.Services" />
            <register serviceType="eContracting.Services.ILoginReportStore, eContracting.Services" implementationType="eContracting.Services.MongoLoginReportStore, eContracting.Services" />
            <!--<register serviceType="Glass.Mapper.Sc.ISitecoreContext, Glass.Mapper.Sc" implementationType="Glass.Mapper.Sc.SitecoreContext, Glass.Mapper.Sc" />-->
            <register serviceType="eContracting.Kernel.Utils.IAuthenticationDataSessionStorage, eContracting.Kernel" implementationType="eContracting.Kernel.Utils.AuthenticationDataSessionStorage, eContracting.Kernel" />
        </services>
    </sitecore>
</configuration>