<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="eContracting.Website.Pipelines.Initialize.GlassMapperConfigurator, eContracting.Website" />
            <register serviceType="eContracting.ILogger, eContracting.Core" implementationType="eContracting.SitecoreLogger, eContracting.Core" lifetime="Scoped" />
            <register serviceType="eContracting.IContextWrapper, eContracting.Core" implementationType="eContracting.SitecoreContextWrapper, eContracting.Core" lifetime="Scoped" />
            <register serviceType="eContracting.IDataSessionCacheService, eContracting.Core" implementationType="eContracting.Services.SessionDataCacheService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IDataRequestCacheService, eContracting.Core" implementationType="eContracting.Services.RequestDataCacheService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IUserFileCacheService, eContracting.Core" implementationType="eContracting.Services.DbUserFileCacheService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IOfferService, eContracting.Core" implementationType="eContracting.Services.OfferService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IServiceFactory, eContracting.Core" implementationType="eContracting.ServiceFactory, eContracting.Core" lifetime="Scoped" />
            <register serviceType="eContracting.IOfferParserService, eContracting.Core" implementationType="eContracting.Services.OfferParserService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IOfferAttachmentParserService, eContracting.Core" implementationType="eContracting.Services.OfferAttachmentParserService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ITokenParser, eContracting.Core" implementationType="eContracting.Services.TokenParserService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IUserService, eContracting.Core" implementationType="eContracting.Services.UserService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ITwoSecrectsAuthService, eContracting.Core" implementationType="eContracting.Services.TwoSecrectsAuthService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ICognitoAuthService, eContracting.Core" implementationType="eContracting.Services.CognitoAuthService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IRespApiService, eContracting.Core" implementationType="eContracting.Services.GeneralRestApiService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ISettingsReaderService, eContracting.Core" implementationType="eContracting.Services.SitecoreSettingsReaderService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ILoginFailedAttemptBlockerStore, eContracting.Core" implementationType="eContracting.Services.DbLoginFailedAttemptBlockerStore, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IOfferJsonDescriptor, eContracting.Core" implementationType="eContracting.Services.OfferJsonDescriptor, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ISignService, eContracting.Core" implementationType="eContracting.Services.FileSignService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IFileOptimizer, eContracting.Core" implementationType="eContracting.Services.FileOptimizer, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IEventLogger, eContracting.Core" implementationType="eContracting.Services.DbEventLogger, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ITextService, eContracting.Core" implementationType="eContracting.Services.SitecoreTextService, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.ISessionProvider, eContracting.Core" implementationType="eContracting.Services.SessionProvider, eContracting.Services" lifetime="Scoped" />
            <register serviceType="eContracting.IStartup, eContracting.Core" implementationType="eContracting.Services.DbContextStartup, eContracting.Services" lifetime="Scoped" />
            <register serviceType="Glass.Mapper.Sc.ISitecoreContext, Glass.Mapper.Sc" implementationType="Glass.Mapper.Sc.SitecoreContext, Glass.Mapper.Sc" lifetime="Scoped" />
        </services>
    </sitecore>
</configuration>