<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
        <site name="econtracting2" patch:before="site[@name='website']"
            rootPath="/sitecore/content/eContracting2"
            startItem="/Web"
            language="cs"
            contentLanguage="cs"
            hostName="econtracting.innogy.cz.local"
            targetHostName="econtracting.innogy.cz.local"
            dictionaryDomain="{77B9CD5A-8FEB-4733-BB77-90A0EE53669B}"
            database="master"
            virtualFolder="/"
            physicalFolder="/"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>
