<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sc.variable name="econtracting.unicorn.serializationFolder" value="c:\Repos\DevOps\InnogyCZ\eContracting\Unicorn" />
        <unicorn>
            <configurations>
                <configuration name="eContracting2.Always" description="eContracting2 templates and layouts 'always overwrite' sitecore items.">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/eContracting2" />
                        <include name="Models" database="master" path="/sitecore/layout/Models/eContracting2" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/eContracting2" />
                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/eContracting2" />
                        <include name="Templates" database="master" path="/sitecore/templates/eContracting2" />
                        <include name="SystemRules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/eContracting" />
                    </predicate>
                    <targetDataStore physicalRootPath="$(econtracting.unicorn.serializationFolder)\eContracting2\Always" />
                    <syncConfiguration updateLinkDatabase="true" updateSearchIndex="false" />
                </configuration>
                <configuration name="eContracting2.Once" description="eContracting2 content 'deploy once' sitecore items.">
                    <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
                    <predicate>
                        <!--<include name="Content" database="master" path="/sitecore/content/eContracting2" />-->
                        <include name="Modules" database="master" path="/sitecore/system/Modules/eContracting" />
                        <include name="Workflow" database="master" path="/sitecore/system/Workflows/eContracting Workflow 2" />
                    </predicate>
                    <targetDataStore physicalRootPath="$(econtracting.unicorn.serializationFolder)\eContracting2\Once" />
                    <syncConfiguration updateLinkDatabase="true" updateSearchIndex="false" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>