@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Settings
@inherits GlassView<CookieLawSettings>


<div id="notification">
	<div class="container-fluid">
		<p>
			@Editable(model=>model.MainText)
		</p>
		<div class="actions">
			@if (Model.Link != null)
			{
			<a id="PersonalDataLink" href="@Model.Link.Url" class="external" target="_blank">
				@Editable(model=>model.Link.Text)
			</a>
			}
			<a class="button agree" href="">
				@Editable(model=>model.ButtonText)
			</a>
		</div>
	</div>
</div>