<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="info">
			@Html.Raw(ViewData["MainText"])
		</div>
	</div>
</div>
@Html.AntiForgeryToken();
@Html.Action("DocumentPanel", "eContracting", new { IsAccepted = false })

<script>
/* Message component messages from Back-end */
	var messages = {
		appUnavailable: [
			'<h3>Nedostupnost aplikace</h3>',
			'<p>@Html.Raw(ViewData["AppNotAvailable"])</p>'
		]
	}
</script>