<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="info">
			@ViewData["MainText"]
		</div>
	</div>
</div>
@Html.Action("DocumentPanel", "eContracting", new { IsAccepted = false })