@using eContracting.Kernel.Models
@model WelcomeModel

@using (Html.BeginForm("WelcomeSubmit", "Welcome", new { guid = Model.Guid }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="info">
                @Html.Sitecore().Placeholder("eContractingWelcomePH")
                <div class="form">
                    <input type="submit" class="button button-submit" id="mainBtn" value="@Model.ButtonText" />
                </div>
            </div>
        </div>
    </div>
}
