<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Rwe.Sc.AcceptanceLogger.Pipelines.Initialize.InitializeDatabase, Rwe.Sc.AcceptanceLogger" />
      </initialize>
    </pipelines>
      
    <log4net>
      <!-- Acceptance Logger -->
      <appender name="AcceptanceLoggerLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Rwe.Sc.Acceptance.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff} [%5t] %-5p %c.%M:%L - %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="Rwe.Sc.AcceptanceLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="AcceptanceLoggerLogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>