@mixin font-face($name, $file, $weight, $style, $path: $custom-font-path) {
  @font-face {
    font-family: '#{$name}';
    src: url('#{$path}#{$file}.woff2') format('woff2'), url('#{$path}#{$file}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin transition($property, $duration: $transition-duration, $easing: ease) {
  transition: $property $transition-duration $easing;
}

// Set the both width and height with the same values
// @param {Unit} width - Width to be set
// @param {Unit} height - Height to be set

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
