/* Light */
@font-face {
	font-family: Innogy;
	font-weight: normal;
	src: url('innogy-light.eot');
	src: url('innogy-light.woff2') format('woff2'),
		url('innogy-light.woff') format('woff'),
		url('innogy-light.ttf') format('truetype'),
		url('innogy-light.svg#innogy') format('svg');
}

/* Medium */
@font-face {
	font-family: Innogy;
	font-weight: 600;
	src: url('innogy-medium.eot');
	src: url('innogy-medium.woff2') format('woff2'),
		url('innogy-medium.woff') format('woff'),
		url('innogy-medium.ttf') format('truetype'),
		url('innogy-medium.svg#innogy') format('svg');
}
