<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="text-center text-md-right">
        <a href="mailto:info@innogy.cz" class="v-center mr-4 font-weight-bold">
          {{> icon name="email" width="22" height="22" }}
          <span>info@innogy.cz</span>
        </a>
        <a href="tel:800113355" class="v-center font-weight-bold">
          {{> icon name="phone" width="22" height="22" }}
          <span>800 11 33 55</span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left mb-2">
          <a href="disclaimer.html">Ochrana osobnich údajů</a>
        </div>
        <div class="col-12 col-md-6 text-center text-md-right mb-2">
          &copy; 2020 Innogy. Všechna práva vyhrazena.
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>