<footer class="footer footer--innosvet">
    <div class="footer__wrapper container d-flex flex-column flex-lg-row justify-content-lg-between">
      <div class="d-flex flex-column align-items-center flex-md-row justify-content-between">
          <div class="phone__wrapper d-flex align-items-center">
            <span class="d-none d-md-block">Volejte zdarma</span>
            <a class="phone d-inline-flex flex-column align-items-center flex-md-row" href="tel:800113355">
              {{> icon name="phone" width="30" height="30" fill="currentColor" }}
              <span class="number">800 11 33 55</span>
            </a>
          </div>
        <div class="footer__links">
         <a class="footer__link d-flex  align-items-center" href="#">
          {{> icon name="arrow-right-up" width="22" height="22" fill="currentColor" modifier="footer__links__icon" }}
          <span>Obchodní podmínky</span>
        </a>
         <a class="footer__link d-flex align-items-center" href="#">
          {{> icon name="arrow-right-up" width="22" height="22" fill="currentColor" modifier="footer__links__icon" }}
          <span>innogy.cz</span>
        </a>
            </div>
      </div>
     <div class="d-flex flex-column align-items-center align-items-lg-end" >
       {{> icon name="innogy_logo" width="175" height="135" }}
           <div class="footer__copyright"> &copy; 2022 innogy - všechna práva vyhrazena -</div>
     </div>
    </div>
    
</footer>
</body>

</html>