<header class="header">
  <div class="container">
    <div class="row justify-content-center">
      <a class="logo" href="index.html" aria-label="Homepage">{{> icon name="logo"}}</a>
    </div>
  </div>
</header>