<header class="header">
  <div class="container">
    <div class="row justify-content-center">
      <a class="logo" href="index.html" aria-label="Homepage">{{> icon name="logo"}}</a>
      <a class="phone v-center v-center--large" href="tel:800113355">
        {{> icon name="phone" width="32" height="32" modifier="d-none d-sm-block" }}
        <span>800 11 33 55</span>
      </a>
    </div>
  </div>
</header>