<!doctype html>
<html lang="cs">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
  <title>innogy eContracting</title>
  <link type="image/x-icon" rel="shortcut icon" href="gfx/favicon/blob.png" />
  <link href="gfx/favicon/57x57.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/114x114.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/72x72.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/144x144.png" sizes="144x144" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/60x60.png" sizes="60x60" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/120x120.png" sizes="120x120" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/76x76.png" sizes="76x76" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/152x152.png" sizes="152x152" rel="apple-touch-icon-precomposed" />
  <link href="gfx/favicon/196x196.png" sizes="196x196" type="image/png" rel="icon" />
  <link href="gfx/favicon/96x96.png" sizes="96x96" type="image/png" rel="icon" />
  <link href="gfx/favicon/32x32.png" sizes="32x32" type="image/png" rel="icon" />
  <link href="gfx/favicon/16x16.png" sizes="16x16" type="image/png" rel="icon" />
  <link href="gfx/favicon/128x128.png" sizes="128x128" type="image/png" rel="icon" />
  <meta content="Innogy" name="application-name" />
  <meta content="#FFFFFF" name="msapplication-TileColor" />
  <meta content="gfx/favicon/144x144.png" name="msapplication-TileImage" />
  <meta content="gfx/favicon/70x70.png" name="msapplication-square70x70logo" />
  <meta content="gfx/favicon/150x150.png" name="msapplication-square150x150logo" />
  <meta content="gfx/favicon/310x150.png" name="msapplication-wide310x150logo" />
  <meta content="gfx/favicon/310x310.png" name="msapplication-square310x310logo" />
</head>

<body data-sprite="gfx/icon/svg.svg">
{{> svg-load-sprite}}