@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin 0.8s linear infinite;
}

.spin-reverse {
  animation: spin 0.8s reverse linear infinite;
}

// https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  animation: shake 0.5s linear;
  backface-visibility: hidden;
}
