/* Custom fonts */
@include font-face($font-main, innogy-light, normal, normal);
@include font-face($font-main, innogy-medium, $font-weight-medium, normal);

body {
  font-family: $font-main, $font-fallback;
  font-size: $font-size-base;

  @include media-breakpoint-up(sm) {
    font-size: rem(20);
  }
  @include media-breakpoint-up(md) {
    font-size: rem(22);
  }
}

/* Headings */

h1 {
  font-weight: bold;
  font-size: rem(30);

  @include media-breakpoint-up(sm) {
    font-size: rem(50);
  }
}

h2 {
  font-size: rem(20);

  @include media-breakpoint-up(sm) {
    font-size: rem(30);
  }
  @include media-breakpoint-up(xl) {
    font-size: rem(34);
  }
}

h3 {
  font-size: rem(18);

  @include media-breakpoint-up(sm) {
    font-size: rem(30);
  }
  @include media-breakpoint-up(md) {
    font-size: rem(20);
  }
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}
