// Colors
$color-orange: #f59b00;
$color-orange-dark: #d27300;
$color-red: #EB4B0A;
$color-red-dark: #b9280a;
$color-red-purple: #e60055;
$color-red-purple-dark: #a50032;
$color-purple: #780a5f;
$color-purple-light: #c81e82;
$color-blue: #00aae1;
$color-blue-dark: #143c8c;
$color-blue-green-dark: #005f69;
$color-blue-green-light: #009ba5;
$color-green: #64B42D;
$color-green-dark: #00875a;
$color-yellow: #fff0d9;
$color-black: #1a1a18;

$gray-5: #f7f6f6;
$gray-10: #eeecec;
$gray-20: #dcdbd9;
$gray-40: #b8b5b4;
$gray-60: #928e8c;
$gray-80: #696461;
$gray-100: #3c3732;

$color-border: $gray-10;

$transition-duration: 0.2s;

// Fonts
$font-main: Innogy;
$font-fallback: Arial, Helvetica, sans-serif;
$custom-font-path: '../fonts/';
$font-weight-medium: 600;
$font-size-base: rem(18);

// Bootstrap variables
$primary: $color-green;
$link-color: $color-orange;
$red: $color-red;

$body-color: $gray-100;

$tooltip-font-size: rem(18);
$tooltip-bg: $color-orange;
$tooltip-color: #fff;
$tooltip-opacity: 1;

$headings-margin-bottom: 0.5em;
$paragraph-margin-bottom: 10px;

$input-btn-padding-x: 1.6rem;
$input-btn-padding-y: 0.9rem;
$input-color: $body-color;
$input-placeholder-color: $gray-60;
$input-border-color: $gray-80;
$input-focus-border-color: $color-orange;
$input-border-radius: 35px;
$input-focus-box-shadow: none;
$input-font-size: inherit;
$input-disabled-border-color: $gray-20;

$form-control-line-height: 1.35rem;
$form-group-margin-bottom: 1.7rem;
$label-margin-bottom: 8px;
$label-padding-y: $label-margin-bottom;

$btn-disabled-opacity: 1;
$btn-font-size: inherit;
$btn-line-height: $form-control-line-height;
$btn-disabled-border: $gray-40;
$btn-disabled-bg: $gray-40;

$alert-border-radius: 0;
$alert-border-width: 0;

// React datepicker variables
$datepicker__font-size: rem(18);
$datepicker__item-size: 2.2rem;
$datepicker__day-margin: 0.25rem;
$datepicker__margin: 0.5rem;
$datepicker__navigation-size: 0.55rem;
$datepicker__font-family: inherit;
$datepicker__text-color: $body-color;
$datepicker__border-radius: 5px;
$datepicker__header-color: #fff;
$datepicker__selected-color: transparent;
