<div class="row">
  <div class="col-12 col-lg-10 offset-lg-1">
    <div class="text-center">
      <h1>Smluvní dokumenty</h1>
    </div>
    <div id="app"></div>
  </div>
</div>

<%-- Aktuálně ti to poběží s tímto configem. Ty klíče pak upravíme, až budeš mít kompletní definici API. --%>
<script>
  var appConfig = {
    view: 'AcceptedOffer',
    offerUrl: '/api/eCon/accepted',
    getFileUrl: '/api/eCon/file/',
    labels: {
      appUnavailableTitle: 'Nedostupnost aplikace',
      appUnavailableText: 'Omlouváme se Vám za nedostupnost aplikace. Příčinou může být právě probíhající odstávka. Prosím opakujte akci později.',
    }
  };
</script>
