@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Models

@inherits GlassView<Error404PageModel>

<div class="row">
	<div class="col-12">
		<h1>@Editable(model=>model.PageTitle)</h1>
		@Editable(model=>model.Text)
	</div>
</div>