@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Models
@model IPageError404Model

<div class="row">
	<div class="col-12">
        <div class="text-center">
            <h1>@Html.Glass().Editable(Model, x => x.PageTitle)</h1>
            @Html.Glass().Editable(Model, x => x.MainText)
        </div>
	</div>
</div>
<div class="row justify-content-center">
    @Html.Sitecore().Placeholder("eContracting2-boxes")
</div>