@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Website.Areas.eContracting2.Models
@inherits GlassView<PageExpirationViewModel>

<div class="row">
    <div class="col-12">
        <div class="text-center">
          <h1>@Editable(model => model.Datasource.PageTitle)</h1>
          @Html.Raw(Model.MainText)
        </div>
    </div>
</div>
<div class="row justify-content-center">
    @Html.Sitecore().Placeholder("eContracting2-boxes")
</div>
