@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Models
@inherits GlassView<PromoBoxModel>

<div class="col-12 col-md-6 col-lg-4 mb-4 d-flex flex-column">
    <div class="box box--action text-center flex-grow-1" style="background-color:@Model.GetColor();">
        <p>
            <a runat="server" href="@Model.GetLinkUrl()" class="box__link text-white" target="_blank">@Editable(x => x.Text)</a>
            @if (@Model.GetLinkTitle() != null)
                <span class="d-flex v-center justify-content-center mx-auto mt-3">
                    <svg class="icon fill-orange" preserveAspectRatio="none" width="32" height="32" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow-right-up"></use>
                    </svg>
                    <span class="text-orange">@Model.GetLinkTitle()</span>
                </span>
            } else {
                <svg class="icon d-block mx-auto mt-3 fill-orange" preserveAspectRatio="none" width="32" height="32" focusable="false" aria-hidden="true">
                    <use xlink:href="#arrow-right-up"></use>
                </svg>
            }
        </p>
    </div>
</div>