@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Pages

@inherits GlassView<EContractingSessionExpiredTemplate>


<div class="row">
	<div class="col-12">
		<h1>@Editable(model=>model.Header)</h1>
		@Editable(model=>model.MainText)
	</div>
</div>
