/* Breakpoints */
$screen-sm-min: 320px;
$screen-md-min: 480px;
$screen-lg-min: 800px;
$screen-xl-min: 1280px;

$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;

/* Shorthands */
$from-sm: '(min-width: $screen-sm-min)';
$to-sm: '(max-width: $screen-sm-min)';
$sm: '($from-sm and $from-sm)';

$from-md: '(min-width: $screen-md-min)';
$to-md: '(max-width: $screen-md-min)';
$md: '($from-md and $to-lg)';

$from-lg: '(min-width: $screen-lg-min)';
$to-lg: '(max-width: $screen-lg-min)';
$lg: '($from-lg and $to-xl)';

$from-xl: '(min-width: $screen-xl-min)';
$to-xl: '(max-width: $screen-xl-min)';
$xl: '($from-xl)';
