/* Colors */
$color-green: #72c201;
$color-orange: #f59b00;
$color-green-blue: #019ba5;
$color-red: #ea4b0a;

$color-gray-dark: #3c3732;
$color-gray: #3c3733;
$color-gray-light: #9b9a98;
$color-gray-dim: #cdcdcd;
$color-gray-dimmer: #f8f8f8;

/* Fonts */
$font-main: Innogy;
$font-fallback: Arial, Helvetica, sans-serif;
