.alert {
  $side-padding-small: 1.5rem;
  $side-padding-large: 3.5rem;

  position: relative;
  margin-top: 2rem;
  margin: 1.5rem 0;
  padding: $spacer $side-padding-small;

  .close {
    $size: 10px;

    position: absolute;
    right: 1rem;
    top: 0;
    margin: auto;
    padding: 0.5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    bottom: 0;
    box-sizing: initial;
    height: $size;
    transition: transform 0.3s ease;
    width: $size;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.closing {
    .close {
      transform: scale(0.5);
    }
  }

  &.with-icon {
    padding-left: $side-padding-large;

    .icon {
      $size: 36px;

      display: block;
      width: $size;
      height: $size;
      position: absolute;
      top: 50%;
      left: 1rem;
      z-index: 1;
      transform: translateY(-50%);
    }

    @include media-breakpoint-down(sm) {
      padding-left: $side-padding-small;
      padding-right: $side-padding-small;

      .icon {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1rem;
      }
    }
  }

  &-danger {
    @include alert-variant($color-red, $color-red, #fff);
  }

  &-warning {
    $color: darken($color-orange, 15%);
    $color-bg: transparentize($color-orange, 0.8);
    $color-border: $color-bg;
    @include alert-variant($color-bg, $color-border, $color);
  }

  &-success {
    $color: darken($color-green, 15%);
    $color-bg: transparentize($color-green, 0.8);
    $color-border: $color-bg;
    @include alert-variant($color-bg, $color-border, $color);
  }

  &.info,
  &-info {
    background: $color-gray-5;
  }

  h3,
  h4 {
    margin-top: 0;
  }
}
