.react-datepicker {
  box-shadow: 0 1px 4px rgba(#000000, 0.4);
  border: 0;

  &-wrapper,
  &__input-container {
    display: block;
  }

  &__month {
    margin: 0;
    padding-bottom: 4px;
  }

  &-popper {
    z-index: 10;

    &[data-placement^='bottom'] {
      .react-datepicker__triangle {
        &,
        &::before {
          border-bottom-color: $color-gray;
        }

        & {
          margin-top: -7px;
        }
      }
    }
  }

  &__header {
    background-color: $color-gray;
    border-bottom: 0;
  }

  &__current-month,
  &__day-name {
    text-transform: uppercase;
  }

  &__current-month {
    font-size: inherit;
    font-weight: normal;
  }

  &__day-name {
    color: $color-orange;
  }

  &__day-names {
    background-color: #fff;
  }

  &__day {
    &--keyboard-selected {
      color: $datepicker__text-color;
    }
    &--selected {
      color: $color-orange;
      background-color: $datepicker__selected-color;
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 2px;
        background: $color-orange;
        position: absolute;
        bottom: 0;
        left: 15%;
        right: 15%;
      }
    }
    &--outside-month {
      color: $color-gray-dim;
    }
    &--disabled {
      color: #fff;
      visibility: hidden;
    }
  }

  &__navigation {
    background: svg-load('../icons/svg/arrow-right.svg', fill=#fff) center no-repeat;
    background-size: 1.5rem 1.5rem;
    width: 48px;
    height: 48px;
    border: 0;
    top: 0;

    &:active {
      opacity: 0.5;
    }

    &--previous {
      transform: scale(-1, 1);
      left: 0;
    }
    &--next {
      right: 0;
    }
  }

  &__button-calendar {
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    transform: translateY(-50%);

    &:focus {
      box-shadow: none;
      opacity: 0.7;
    }
  }

  &__input {
    padding-right: calc(#{$input-padding-x} + 30px); // calendar icon width
  }

  &__year-select {
    appearance: none;
    padding: 0 1.25rem 0 0.5rem;
    border-radius: $input-border-radius;
    background: #fff svg-load('../icons/svg/chevron-down.svg', fill=$color-orange) no-repeat right
      0.5rem center/14px 7px;

    // Hides the default caret in IE11
    &::-ms-expand {
      display: none;
    }
  }

  &__header__dropdown--select {
    padding-bottom: 8px;
  }
}
