.footer {
  font-size: rem(13);
  background-color: #fff;

  &,
  a {
    color: $color-black;
  }

  &__top {
    font-size: rem(16);
    border-top: 1px solid $color-gray-20;
    padding: map-get($spacers, 3) 0 map-get($spacers, 2);
  }

  &__bottom {
    background-color: $color-gray-40;
    padding: 20px 0 8px;
  }

  &--innosvet {
    font-size: rem(16);
    padding: 25px 0;
    background-color: $color-gray-40;

    .phone__wrapper {
      gap: 1.25rem;
      @include media-breakpoint-up(lg) {
        margin-right: 30px;
      }
    }

    .phone {
      gap: 10px;
      text-decoration: none;
      transition: color $transition-duration ease;
      .number {
        // font-weight: 500;
        font-size: 1.44rem;
      }
      &:hover {
        color: $color-orange;
      }
    }

    .footer__links {
      display: inline-flex;
      gap: 20px;
    }

    .footer__link {
      text-decoration: none;
      transition: color $transition-duration ease;
      &:hover {
        color: $color-orange;
      }
    }

    .footer__links__icon {
      margin-right: 6px;
      color: $color-orange;
    }
  }
}
