%form-element {
  /* Validation */
  &.invalid {
    border-color: $color-red;
    box-shadow: inset 0 0 0 1px $color-red;
  }
}

input,
textarea,
button,
select {
  outline: 0;
}

.input-group {
  position: relative;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.input-group-tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > *:first-child {
    margin-right: 1rem;
  }
}

.btn {
  border-radius: $input-border-radius;

  &.disabled,
  &:disabled,
  &-inactive {
    border-color: $color-gray-dim;
    background: $color-gray-dim;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &-primary {
    padding: 0.65rem 1.5rem 0.6rem;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }

  &-block-mobile {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

label {
  position: relative;
  display: block;
  font-weight: normal;
  margin-left: 1.5rem;

  &:not(.custom-control-label) {
    color: $color-gray-light;
  }
}

.form-control {
  height: auto;
  line-height: $form-control-line-height;
}

.form-check {
  margin-bottom: $label-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

input {
  @extend %form-element;

  &::-ms-clear {
    display: none;
  }

  &[type='checkbox'] {
    $checkbox-size: 26px;

    appearance: none;
    display: none;
    position: relative;

    & + label {
      margin: 5px 0 0;
      padding: 4px 0 0 $checkbox-size + 12;

      &:before {
        bottom: 0;
        display: inline-block;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;

        border-radius: 4px;
        border: 1px solid $color-gray-dim;
        content: '';
        height: $checkbox-size;
        transition: border-color 0.2s ease;
        width: $checkbox-size;
      }

      &:after {
        bottom: 0;
        left: 1px;
        margin: auto;
        position: absolute;
        top: 0;

        background: lighten($color-gray-dim, 10%);
        border-radius: 3px;
        content: '';
        height: $checkbox-size - 2;
        opacity: 0;
        transform-origin: center;
        transition: opacity 0.2s ease;
        width: $checkbox-size - 2;
      }
    }

    /* Checked */
    &:checked {
      & + label {
        &:before {
          border-color: $color-orange;
        }

        &:after {
          background: $color-orange svg-load('../icons/svg/check.svg') center no-repeat;
          border-color: darken($color-orange, 10%);
          opacity: 1;
        }
      }

      &[disabled] + label {
        $color-disabled: $color-gray-dim;
        cursor: default;

        &:before {
          border-color: $color-disabled;
        }
        &:after {
          background-color: $color-disabled;
        }
      }
    }
  }
}

.custom-control {
  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    left: -9999px;
  }
}

.custom-radio {
  .custom-control-label {
    margin-bottom: 0;
    padding: $label-padding-y 0 $label-padding-y 1.5rem;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      width: 20px;
      height: 20px;
      border: 1px solid $color-gray-dim;
      z-index: 1;
      transform: translateY(-50%);
      @include transition(border);
    }

    &::after {
      width: 12px;
      height: 12px;
      left: 4px;
      opacity: 0;
      transform: translateY(-50%) scale(0);
      @include transition(all, 0.1s);
    }

    &:hover {
      &::before {
        border-color: $input-focus-border-color;
      }
    }
  }

  .custom-control-input {
    &:checked ~ .custom-control-label {
      &::before {
        border-color: $color-orange;
      }
      &::after {
        background-color: $color-orange;
        opacity: 1;
        transform: translateY(-50%) scale(1);
      }
    }
    &:focus ~ .custom-control-label {
      &::before {
        border-color: $input-focus-border-color;
      }
    }
  }
}

.form-background {
  margin: 1rem 0;
  padding: 1rem 0;

  background: $color-gray-dimmer;

  @include media-breakpoint-down(md) {
    padding-right: 1rem;
    padding-left: 1rem;

    .container-fluid {
      padding: 0;
    }
  }
}

#offer {
  button {
    margin-bottom: 0.5rem;
  }
}

.submit-zone {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $color-border;
}

select {
  &.form-control {
    @extend %form-element;
    appearance: none;
    background: svg-load('../icons/svg/chevron-down.svg', fill=$color-orange) no-repeat right 1.3rem
      center/28px 14px;

    // Hides the default caret in IE11
    &::-ms-expand {
      display: none;
    }
  }
}
