.header {
  padding: 15px 0;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid $color-gray-20;

  @include media-breakpoint-down(sm) {
    height: 90px;
  }

  @include media-breakpoint-up(md) {
    min-height: 120px;
  }

  &,
  a {
    color: $color-black;
  }

  .container {
    position: relative;
  }

  .logo {
    .icon {
      height: 90px;
      vertical-align: middle;

      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
  }

  .phone {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $grid-gutter-width / 2;
    margin: auto;
    height: 1.25rem;

    @include media-breakpoint-down(sm) {
      right: $spacer;
    }

    @include media-breakpoint-down(xs) {
      &:before {
        display: none;
      }
    }
  }
}
