a {
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.external {
  &:before {
    $size: 1.1rem;
    display: inline-block;
    margin: -4px 0.4rem 0 0;

    background: svg-load('../icons/svg/arrow-up.svg', fill=$color-orange) center no-repeat;
    background-size: 100% 100%;
    content: '';
    height: $size;
    vertical-align: middle;
    width: $size;
  }
}

.button {
  display: inline-block;
  padding: 0.3rem 1.5rem;

  background: $color-orange;
  border-radius: 35px;
  color: #fff;

  &:hover {
    background: darken($color-orange, 5%);
    color: #fff;
    text-decoration: none;
  }
}

.pdf:before {
  $size: 1rem;
  display: inline-block;
  margin: -5px 4px 0 0;

  background: svg-load('../icons/svg/pdf.svg') center no-repeat;
  background-size: 85% 85%;
  content: '';
  height: $size;
  vertical-align: middle;
  width: $size;
}

/* Actions */
.actions {
  &.wide {
    $spacing: 0.5rem;
    display: flex;
    align-items: stretch;
    margin-top: 3rem;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    a {
      position: relative;
      margin: 0 $spacing;
      padding: 1rem;

      color: #fff;
      flex-basis: 33%;
      height: 200px;
      max-height: 200px;
      justify-content: center;
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
      text-align: center;
      backface-visibility: hidden;
      will-change: transform;

      @include media-breakpoint-down(sm) {
        flex-basis: 100%;

        &:not(:last-child) {
          margin-bottom: $spacing;
        }
      }

      &:first-child {
        background: $color-green;
      }
      &:nth-child(2n) {
        background: $color-orange;
      }
      &:nth-child(3n) {
        background: $color-blue-green-light;
      }

      p {
        $arrow-size: 32px;
        display: block;
        left: 0;
        margin: auto;
        margin-top: -$arrow-size / 1.5;
        position: absolute;
        right: 0;
        top: 50%;

        max-width: 90%;
        transform: translateY(-50%);
        transition: opacity 0.2s ease-in-out;
        width: 100%;

        &:after {
          position: absolute;
          margin: 2.25rem auto auto;
          left: 0;
          right: 0;

          content: '';
          height: $arrow-size;
          transform-origin: center;
          width: $arrow-size;
        }

        &:after {
          background: svg-load('../icons/svg/arrow-up.svg', fill=#fff);
          background-size: 100% 100%;
          transition: transform 0.35s ease;
        }
      }

      &:hover {
        text-decoration: none;
        transform: scale(0.99);

        p {
          opacity: 0.8;
        }
      }
    }
  }
}
