.loading {
  overflow: hidden;
  position: relative;

  &:before {
    left: 0;
    position: absolute;
    top: 0;

    background: $color-gray-dimmer;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  &:after {
    left: 0;
    position: absolute;
    top: 0;

    animation: spin 1.25s linear infinite;
    background: svg-load('../gfx/svg/loading.svg') no-repeat center;
    background-size: 2rem;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 3;
  }
}
