.list-steps {
  $number-size: 50px;
  margin: 0 auto;
  max-width: 650px;

  @include list-unstyled;
  counter-reset: steps-counter;
  display: flex;
  margin-bottom: $spacer * 2;

  &__item {
    flex: 1;
    color: $color-gray-60;
    text-align: center;
    position: relative;
    font-size: 1rem;

    // number
    &::before {
      counter-increment: steps-counter;
      content: counter(steps-counter);
      speak-as: bullets;
      display: block;
      width: $number-size;
      height: $number-size;
      line-height: $number-size;
      margin: 0 auto 10px;
      background-color: #fff;
      border: 1px solid currentColor;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      font-size: 1.5rem;
    }

    // line
    &::after {
      content: '';
      display: block;
      width: calc(57% - #{$number-size});
      height: 1px;
      // border is used instead of background color due to zoom issue in IE 11
      border-bottom: 1px solid $color-gray-60;
      position: absolute;
      top: ($number-size / 2) + 5px;
      left: calc(-30% + #{$number-size / 2});
      z-index: 1;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }
  }

  &__item--active {
    color: $color-orange;
    font-weight: $font-weight-medium;

    &::before {
      background-color: $primary;
      color: $color-white;
    }
  }
}
