$left-padding: 2.5em;
$icon-size: 30px;

.steps {
  padding-left: $left-padding;
}

.step {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - #{$icon-size} - #{$line-height-base});
    border-left: 1px dotted $color-border;
    position: absolute;
    bottom: 0;
    left: -#{($left-padding / 2)};
  }

  &__icon {
    display: block;
    line-height: 0;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2px);
    left: -#{($left-padding / 2)};
    transform: translate(-50%, -50%);

    .icon {
      width: $icon-size;
      height: $icon-size;
      fill: $color-border;
      transition: fill 0.2s ease;

      // @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
      @include media-breakpoint-between(md, lg) {
        width: ($icon-size * 1.2);
        height: ($icon-size * 1.2);
      }
    }

    &:nth-of-type(2) {
      display: none;
    }
  }

  &__heading {
    position: relative;
  }

  &--active {
    .step__icon {
      .icon {
        fill: $body-color;
      }
    }
  }

  &--finished {
    .step__icon {
      .icon {
        fill: $color-green;
      }

      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.list-steps {
  $number-size: 50px;

  @include list-unstyled;
  counter-reset: steps-counter;
  display: flex;
  margin-bottom: $spacer * 2;

  &__item {
    flex: 1;
    color: $color-gray-60;
    text-align: center;
    position: relative;

    // number
    &::before {
      counter-increment: steps-counter;
      content: counter(steps-counter);
      speak-as: bullets;
      display: block;
      width: $number-size;
      height: $number-size;
      line-height: $number-size;
      margin: 0 auto 10px;
      background-color: #fff;
      border: 1px solid currentColor;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    // line
    &::after {
      content: '';
      display: block;
      width: calc(94% - #{$number-size});
      height: 1px;
      background-color: $color-gray-60;
      position: absolute;
      top: 25px;
      left: calc(-47% + #{$number-size / 2});
      z-index: 1;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }
  }

  &__item--active {
    color: $color-orange;
    font-weight: $font-weight-medium;
  }
}
