.list-steps {
  $number-size: 50px;

  @include list-unstyled;
  counter-reset: steps-counter;
  display: flex;
  margin-bottom: $spacer * 2;

  &__item {
    flex: 1;
    color: $color-gray-60;
    text-align: center;
    position: relative;

    // number
    &::before {
      counter-increment: steps-counter;
      content: counter(steps-counter);
      speak-as: bullets;
      display: block;
      width: $number-size;
      height: $number-size;
      line-height: $number-size;
      margin: 0 auto 10px;
      background-color: #fff;
      border: 1px solid currentColor;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    // line
    &::after {
      content: '';
      display: block;
      width: calc(94% - #{$number-size});
      height: 1px;
      background-color: $color-gray-60;
      position: absolute;
      top: 25px;
      left: calc(-47% + #{$number-size / 2});
      z-index: 1;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }
  }

  &__item--active {
    color: $color-orange;
    font-weight: $font-weight-medium;
  }
}
