.tooltip {
  &-icon-wrapper {
    display: inline-block;
    line-height: 0;
    cursor: help;
  }

  &-inner {
    font-family: $font-main;
    font-size: 0.8rem;
    padding: 0.25rem 0.6rem;
    min-width: 180px;
  }
}
