<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\MSSQLSERVER14;Initial Catalog=eContractingSitecore_core;Integrated Security=False;User ID=sa;Password=aPro6Deh" />
  <add name="master" connectionString="Data Source=.\MSSQLSERVER14;Initial Catalog=eContractingSitecore_master;Integrated Security=False;User ID=sa;Password=aPro6Deh" />
  <add name="web" connectionString="Data Source=.\MSSQLSERVER14;Initial Catalog=eContractingSitecore_web;Integrated Security=False;User ID=sa;Password=aPro6Deh" />
  <add name="analytics" connectionString="mongodb://localhost:27017/eContracting_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/eContracting_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/eContracting_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/eContracting_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.\MSSQLSERVER14;Initial Catalog=eContractingSitecore_reporting;Integrated Security=False;User ID=sa;Password=aPro6Deh" />
</connectionStrings>