@using eContracting.Models
@using eContracting.Website.Areas.eContracting2.Models
@model StepsViewModel

@if (Model.Steps == null || Model.Steps.Length == 0)
{
    return;
}

<ol class="list-steps">
    @foreach (var step in Model.Steps)
    {
        if (step.IsSelected)
        {
            <li class="list-steps__item list-steps__item--active" aria-current="step">
                @step.Label
            </li>
        }
        else
        {
            <li class="list-steps__item">
                @step.Label
            </li>
        }
    }
</ol>