.modal .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 7px 12px;
    font-size: 17px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition: background-color .25s ease;
    min-width: 100px;
    padding: 7px 20px;
    line-height: 1.48;
    border-radius: 20px;
    text-transform: uppercase;
}

    .modal .btn.active.focus, .modal .btn.active:focus, .modal .btn.focus, .modal .btn:active.focus, .modal .btn:active:focus, .modal .btn:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    .modal .btn.focus, .modal .btn:focus, .modal .btn:hover {
        color: #333;
        text-decoration: none
    }

    .modal .btn.active, .modal .btn:active {
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    }

    .modal .btn.disabled, .modal .btn[disabled], fieldset[disabled] .modal .btn {
        cursor: not-allowed;
        opacity: .65;
        filter: alpha(opacity=65);
        box-shadow: none
    }

.modal a.btn.disabled, fieldset[disabled] .modal a.btn {
    pointer-events: none
}

.modal .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

    .modal .btn-default.focus, .modal .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c
    }

    .modal .btn-default.active, .modal .btn-default:active, .modal .btn-default:hover, .open > .modal .btn-default.dropdown-toggle {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad
    }

        .modal .btn-default.active.focus, .modal .btn-default.active:focus, .modal .btn-default.active:hover, .modal .btn-default:active.focus, .modal .btn-default:active:focus, .modal .btn-default:active:hover, .open > .modal .btn-default.dropdown-toggle.focus, .open > .modal .btn-default.dropdown-toggle:focus, .open > .modal .btn-default.dropdown-toggle:hover {
            color: #333;
            background-color: #d4d4d4;
            border-color: #8c8c8c
        }

    .modal .btn-default.active, .modal .btn-default:active, .open > .modal .btn-default.dropdown-toggle {
        background-image: none
    }

    .modal .btn-default.disabled.focus, .modal .btn-default.disabled:focus, .modal .btn-default.disabled:hover, .modal .btn-default[disabled].focus, .modal .btn-default[disabled]:focus, .modal .btn-default[disabled]:hover, fieldset[disabled] .modal .btn-default.focus, fieldset[disabled] .modal .btn-default:focus, fieldset[disabled] .modal .btn-default:hover {
        background-color: #fff;
        border-color: #ccc
    }

    .modal .btn-default .badge {
        color: #fff;
        background-color: #333
    }

.modal .btn-primary {
    background-color: #62b32c;
    border-color: #579f27
}

    .modal .btn-primary.focus, .modal .btn-primary:focus {
        color: #fff;
        background-color: #4c8a22;
        border-color: #1f380e
    }

    .modal .btn-primary.active.focus, .modal .btn-primary.active:focus, .modal .btn-primary.active:hover, .modal .btn-primary:active.focus, .modal .btn-primary:active:focus, .modal .btn-primary:active:hover, .open > .modal .btn-primary.dropdown-toggle.focus, .open > .modal .btn-primary.dropdown-toggle:focus, .open > .modal .btn-primary.dropdown-toggle:hover {
        color: #fff;
        background-color: #3c6d1b;
        border-color: #1f380e
    }

    .modal .btn-primary.active, .modal .btn-primary:active, .open > .modal .btn-primary.dropdown-toggle {
        background-image: none
    }

    .modal .btn-primary.disabled.focus, .modal .btn-primary.disabled:focus, .modal .btn-primary.disabled:hover, .modal .btn-primary[disabled].focus, .modal .btn-primary[disabled]:focus, .modal .btn-primary[disabled]:hover, fieldset[disabled] .modal .btn-primary.focus, fieldset[disabled] .modal .btn-primary:focus, fieldset[disabled] .modal .btn-primary:hover {
        background-color: #62b32c;
        border-color: #579f27
    }

    .modal .btn-primary .badge {
        color: #62b32c;
        background-color: #fff
    }

.modal input[type=button].btn-block, .modal input[type=reset] .btn-block, input[type=submit] .btn-block {
    width: 100%
}

.modal .btn.disabled, .modal .btn[disabled], fieldset[disabled] .modal .btn {
    color: #666;
    background: #e6e6e6
}

.modal .btn-lg {
    padding: 15px 32px;
    font-size: 19px;
    border-radius: 30px;
    padding-top: 18px
}

.modal .btn-lg, .modal .btn-xl {
    line-height: 1.48
}

.modal .btn-xl {
    padding: 19px 40px;
    font-size: 32px;
    border-radius: 43px
}

@media (max-width:767px) {
    .modal .btn-xl {
        font-size: 18px
    }
}

.modal .btn-primary {
    color: #fff;
    background: #62b32c;
    border-color: #62b32c
}

    .modal .btn-primary:hover {
        color: #fff;
        background-color: #4c8a22 !important;
        border-color: #3c6d1b !important;
    }

.modal .btn-secondary {
    background: #fff;
    color: #62b32c;
    border-color: #62b32c
}

.modal .close {
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

    .modal .close:focus, .modal .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50)
    }

.modal button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.modal .close {
    font-size: 25.5px;
    color: inherit;
    opacity: .8;
    filter: alpha(opacity=80);
    text-decoration: none !important
}


.modal, .modal-open {
    overflow: hidden
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

    .modal.fade .modal-dialog {
        overflow: hidden;
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        transition: transform .3s ease-out
    }

    .modal.in .modal-dialog {
        -ms-transform: translate(0);
        transform: translate(0)
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #000
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50)
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

    .modal-header:after, .modal-header:before {
        content: " ";
        display: table
    }

    .modal-header:after {
        clear: both
    }

    .modal-header .close {
        margin-top: -2px
    }

.modal-title {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: inherit;
    line-height: 1.48
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

    .modal-footer:after, .modal-footer:before {
        content: " ";
        display: table
    }

    .modal-footer:after {
        clear: both
    }

    .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}
