{{> html-header }}
{{> header }}

{{#> layout}}
<div class="text-center">
  <h1>Smluvní dokumenty</h1>
</div>

{{> app}}
{{/ layout}}

<script>
  var appConfig = {
    view: 'AcceptedOffer',
    offerUrl: '/api/offer/accepted',
    getFileUrl: '/',
    labels: {
      appUnavailableTitle: 'Nedostupnost aplikace',
      appUnavailableText: 'Omlouváme se Vám za nedostupnost aplikace. Příčinou může být právě probíhající odstávka. Prosím opakujte akci později.',
    }
  };
</script>

{{> footer }}