{{> partials/html-header}}
{{> partials/header}}

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="info">
          <p>Vítáme Vás, pane Nováku,</p>
          <p>pro zobrazení nabídky právě pro Vás bychom potřebovali ověřit níže uvedené údaje.</p>
          {{> partials/app}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var appConfig = {
    view: 'Authentication',
    doxReadyUrl: '/documents.json',
    isAgreed: false,
    isRetention: false,
    isAcquisition: true,
    formAction: '/authentication.html',
    labels: {
      requiredFields: 'Prosím, vyplňte všechna požadovaná pole.',
      birthDate: '1. Datum narození',
      birthDatePlaceholder: 'např. 26. 12. 1966',
      verificationMethod: '2. Vyberte způsob ověření',
      zip: 'PSČ trvalého bydliště',
      zipPlaceholder: '15500',
      zipHelpText: 'Toto je nápověda k PSČ',
      customerNumber: 'Zákaznické číslo',
      customerNumberPlaceholder: '99828738',
      customerNumberHelpText: 'Zákaznické číslo je číslo, které je prostě číslo',
      submitBtn: 'Potvrdit údaje a zobrazit nabídku',
      ariaOpenCalendar: 'Otevřít kalendář',
    }
  };
</script>

{{> partials/footer}}