{{> partials/html-header}}
{{> partials/header}}

<div class="main" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {{#> partials/steps}}
          {{> partials/step content="Ověření údajů" active=true}}
          {{> partials/step content="Přečtení a potvrzení dokumentů"}}
          {{> partials/step content="Hotovo"}}
        {{/ partials/steps}}
        <div class="info">
          <p>Vítáme Vás, pane Nováku,</p>
          <p>pro zobrazení nabídky právě pro Vás bychom potřebovali ověřit níže uvedené údaje.</p>
        </div>
        {{> partials/app}}
        <div id="token">
          <input name="__RequestVerificationToken" type="hidden"
            value="syILVuR3pRQyhW-s-FRQ3D7WLgLK21qtyplHUS34itGwBfYHYwkxlos6yMKXYF8Lt2HujsVHsj1MveXusQ6q0nESucc1" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var appConfig = {
    view: 'Authentication',
    doxReadyUrl: '/documents.json',
    isAgreed: false,
    isRetention: false,
    isAcquisition: true,
    formAction: '/authentication.html',
    choices: [
      {
        label: 'PSČ trvalého bydliště',
        key: 'permanentresidencepostalcode',
        placeholder: '15500',
        helpText: 'PSČ trvalého bydliště hint',
        regex: '^[0-9]{3}([\\s]{0,1}[0-9]{2})$',
      },
      {
        label: 'Zákaznické číslo',
        key: 'identitycardnumber',
        placeholder: '123456789',
        helpText: 'Zákaznické číslo hint',
        regex: '^\\d{10}$',
      },
    ],
    labels: {
      requiredFields: 'Prosím, vyplňte všechna požadovaná pole.',
      validationError: null,
      birthDate: '1. Datum narození',
      birthDatePlaceholder: 'např. 26. 12. 1966',
      verificationMethod: '2. Vyberte způsob ověření',
      submitBtn: 'Potvrdit údaje a zobrazit nabídku',
      ariaOpenCalendar: 'Otevřít kalendář',
      ariaNextMonth: 'Další měsíc',
      ariaPreviousMonth: 'Předchozí měsíc',
      ariaChooseDay: 'Vybrat',
    }
  };
</script>

{{> partials/footer}}