{{> html-header }}
{{> header }}

{{#> layout}}
  <h1>Stránky</h1>
  <ul>
    <li><a href="authentication.html">Authentication</a></li>
    <li><a href="offer.html">Offer</a></li>
    <li><a href="accepted-offer.html">Accepted offer</a></li>
  </ul>
{{/ layout}}

{{> footer }}