{{> html-header }}
{{> header }}

{{#> layout}}
  <h1>Stránky</h1>
  <ul>
    <li><a href="authentication.html">Authentication</a></li>
    <li><a href="summary.html">Summary</a></li>
    <li><a href="upload.html">Upload</a></li>
    <li><a href="offer.html">Offer</a></li>
    <li><a href="accepted-offer.html">Accepted offer</a></li>
    <li><a href="thank-you.html">Thank you</a></li>
  </ul>
{{/ layout}}

{{> footer }}
