{{> html-header }}
{{> header }}

{{#> layout}}
  <h1>Stránky</h1>
  <ul>
    <li><a href="authentication.html">Authentication</a></li>
    <li><a href="summary.html">Summary</a></li>
    <li><a href="upload.html">Upload</a></li>
    <li><a href="offer.html">Offer</a></li>
    <li><a href="accepted-offer.html">Accepted offer</a></li>
    <li><a href="thank-you.html">Thank you</a></li>
  </ul>

  <h2>Nové šablony</h2>
  <ul>
<li>
  <h3>Přihláška</h3>
  <ul>
    <li><a href="offerGas.html">Přihláška - Plyn</a></li>
    <li><a href="offerEle.html">Přihláška - Elektřina</a></li>
    <li><a href="offer.html">Přihláška - obě komodity</a></li>
  </ul>
</li>
<li>
  <h3>Odhláška</h3>
  <ul>
    <li><a href="odhlaskaGas.html">Odhláška - Plyn</a></li>
    <li><a href="odhlaskaEle.html">Odhláška - Elektřina</a></li>
    <li><a href="odhlaskaBoth.html">Odhláška - obě komodity</a></li>
  </ul>

</li>

  </ul>
  
{{/ layout}}

{{> footer }}
