{{> html-header }}
{{> header }}

{{#> layout}}
  <div class="text-center">
    <h1>Projděte si všechny detaily</h1>
    <p>Všechny dokumenty si pročtěte a poté potvrďte</p>
  </div>

  {{> app}}
{{/ layout}}

{{> offer-config retention="false" acquisition="false" agreed="false"}}

{{> footer }}