{{> html-header }}
{{> header }}

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="text-center">
          <h1>Projděte si všechny detaily</h1>
          <p>Všechny dokumenty si pročtěte a poté potvrďte</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> offer-config retention="false" acquisition="false" agreed="false"}}

{{> footer }}