{{> html-header }}
{{> header }}

{{#> layout}}
  {{#> steps}}
    {{> step content="Ověření údajů"}}
    {{> step content="Přečtení a potvrzení dokumentů" active=true}}
    {{> step content="Hotovo"}}
  {{/ steps}}
  <div class="text-center">
    <h1>Projděte si všechny detaily</h1>
    <p>Všechny dokumenty si pročtěte a poté potvrďte</p>
  </div>

  {{> app}}
{{/ layout}}

<script>
  var appConfig = {
    view: 'Offer',
    offerUrl: '/api/offer/new',
    timeout: 0,
    formAction: 'offer.html',
    getFileUrl: '/api/document-image',
    thumbnailUrl: '/api/document-image',
    signFileUrl: '/api/sign-document',
    uploadFileUrl: '/api/upload-document',
    removeFileUrl: '/api/remove-document',
    errorPageUrl: '/error',
    acceptOfferUrl: '/api/offer/accept',
    keepAliveUrl: '/api/keepalive',
    thankYouPageUrl: '/thank-you.html',
    sessionExpiredPageUrl: '/session-expired.html',
    allowedContentTypes: ['image/png', 'image/jpeg', 'application/pdf'],
    maxFileSize: 3695293,
    maxGroupFileSize: 1048576,
    labels: {
      appUnavailableTitle: 'Nedostupnost aplikace',
      appUnavailableText: '<p>Omlouváme se Vám za nedostupnost aplikace. Příčinou může být právě probíhající odstávka. Prosím opakujte akci později.</p>',
      acceptAll: 'Označit vše',
      acceptOfferTitle: 'Potvrzení nabídky',
      acceptOfferHelptext: '<p>Stisknutím tlačítka Akceptuji potvrdíte souhlas s přechodem na novou smlouvu Relax u innogy.</p>',
      submitBtn: 'Akceptuji',
      signatureBtn: 'Podepsat',
      signatureEditBtn: 'Upravit podpis',
      signatureModalTitle: 'Podepsat dokument',
      signatureModalText: 'Podepište se prosím níže:',
      signatureModalConfirm: 'Potvrdit',
      signatureModalClear: 'Smazat',
      signatureModalError: 'Dokument se nepodařilo podepsat, zkuste to prosím znova.',
      signatureModalThumbnailAlt: 'Náhled dokumentu k podepsání',
      signaturePadAlt: 'Zde je podpisová plocha pro váš podpis',
      signatureNote: 'Podepište snadno myší přímo ve Vašem prohlížeči nebo prstem v tabletu',
      selectFile: 'Vyberte dokument',
      selectFileHelpText: 'Sem přetáhněte jeden i více souborů nebo',
      removeFile: 'Odebrat dokument',
      fileSize: 'Velikost dokumentu',
      selectedFiles: 'Vybrané dokumenty',
      rejectedFiles: 'Nevyhovující dokumenty',
      uploadFile: 'Nahrát dokument',
      captureFile: 'Vyfotit a nahrát',
      invalidFileTypeError: 'Dokument má špatný formát',
      fileExceedSizeError: 'Dokument je příliš velký',
      acceptanceModalTitle: 'Potvrzení akceptace',
      acceptanceModalText: '<p style=\"text-align: center;\">Po konečn&yacute; a z&aacute;vazn&yacute; projev Va&scaron;&iacute; vůle, pros&iacute;m, stiskněte tlač&iacute;tko \"Potvrdit\".</p>\n<p style=\"text-align: center;\">Pokud si přejete vr&aacute;tit se zpět, stiskněte tlač&iacute;tko \"Storno\".</p>',
      acceptanceModalAccept: 'Potvrdit',
      acceptanceModalCancel: 'Storno',
      acceptanceModalError: 'Nabídku se nepodařilo akceptovat, zkuste to prosím znova.',
      acceptanceModalSummary: 'Souhrn nabídky, produktů a služeb',
      modalClose: 'Zavřít dialog',
      productBenefits: 'Výhody služby',
      accepted: 'Akceptováno',
      notAccepted: 'Neakceptováno',
    },
  };
</script>

{{> footer }}