{{> html-header }}
{{> header }}

{{#> layout}}
  {{#> steps}}
    {{> step content="Ověření údajů"}}
    {{> step content="Přečtení a potvrzení dokumentů"}}
    {{> step content="Hotovo" active=true}}
  {{/ steps}}
  <div class="text-center">
    <h1>Vaši smlouvu jsme úspěšně uzavřeli</h1>
    <p>Za chvíli na svém e-mailu najdete potvrzení a odkazy na všechny smluvní dokumenty.</p>
    <p>Vaše innogy</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="box box--action bg--green text-center">
        <p>
          <a href="" class="box__link text-white font-weight-bold">Přejít na izlevnuje.cz</a>
          {{> icon name="arrow-right-up" width="32" height="32" modifier="d-block mx-auto mt-3 fill-white" }}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="box box--action bg--orange text-center">
        <p>
          <a href="" class="box__link text-white font-weight-bold">Přihlásit se do innogy24</a>
          {{> icon name="arrow-right-up" width="32" height="32" modifier="d-block mx-auto mt-3 fill-white" }}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="box box--action bg--blue-green-light text-center">
        <p>
          <a href="" class="box__link text-white font-weight-bold">Přejít na innogy.cz</a>
          {{> icon name="arrow-right-up" width="32" height="32" modifier="d-block mx-auto mt-3 fill-white" }}
        </p>
      </div>
    </div>
  </div>
{{/ layout}}

{{> footer }}