{{> html-header }}
{{> header }}

{{#> layout}}
  {{#> steps}}
    {{> step content="Ověření údajů"}}
    {{> step content="Přečtení a potvrzení dokumentů"}}
    {{> step content="Hotovo" active=true}}
  {{/ steps}}
  <div class="text-center">
    <h1>Vaši smlouvu jsme úspěšně uzavřeli</h1>
    <p>Za chvíli na svém e-mailu najdete potvrzení a odkazy na všechny smluvní dokumenty.</p>
    <p>Vaše innogy</p>
    <p>TODO: implement boxes</p>
  </div>
{{/ layout}}

{{> footer }}