<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="eContracting.Always" description="eContracting templates and layouts 'always overwrite' sitecore items.">
          <predicate>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/eContracting" />
            <include name="Models" database="master" path="/sitecore/layout/Models/eContracting" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/eContracting" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/eContracting" />
            <include name="Templates" database="master" path="/sitecore/templates/eContracting" />
          </predicate>
        </configuration>
        <configuration name="eContracting.Once" description="eContracting content 'deploy once' sitecore items.">
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <predicate>
            <include name="Content" database="master" path="/sitecore/content/eContracting" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
