<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="eContracting.ServiceUrl" value="http://lv423075.aci3.rwegroup.cz:8001/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
      <setting name="eContracring.ServiceUser" value="UkZDX1NJVEVDT1JF" />
      <setting name="eContracting.ServicePassword" value="QWRIYjI0Nyo=" />
      <setting name="eContracting.SigningServiceUrl" value="https://nsqbe.innogy.cz:8110/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
      <setting name="eContracring.SigningServiceUser" value="UkZDX1NJVEVDT1JF" />
      <setting name="eContracting.SigningServicePassword" value="QWRIYjI0Nyo=" />
        <!-- Set after how many failed attempts user is blocked -->
      <setting name="eContracting.MaxFailedAttempts" value="3" />
      <!-- Set how long user has to wait to try log-in again. Use format for TimeSpan ([d.]hh:mm:ss) -->
      <setting name="eContracting.DelayAfterFailedAttempts" value="00:15:00" />
    </settings>
    <pipelines>
        <httpRequestBegin>
          <processor
          patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
          type="eContracting.Kernel.PipeLines.ItemNotFoundPipeline, eContracting.Kernel" />
        </httpRequestBegin>
      </pipelines>
  </sitecore>
</configuration>
