<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="eContracting.ServiceUrl" value="http://r4289p1.rwe-services.cz:8000/sap/bc/srt/rfc/sap/zcch_cache_api/100/zcch_cache_api/zcch_cache_api" />
      <setting name="eContracring.ServiceUser" value="EEM_SOLMAN" />
      <setting name="eContracting.ServicePassword" value="EEM_SOL2019" />
    </settings>
  </sitecore>
</configuration>
