<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="econtracting" patch:before="site[@name='website']"
            rootPath="/sitecore/content/eContracting"
            startItem="/Site"
            language="cs"
            contentLanguage="cs"
            hostName="econtracting.local"
            targetHostName="econtracting.local"
            masterDatabase="master"
            database="master"
            virtualFolder="/"
            physicalFolder="/"
            domain="extranet"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>
